
body {
    margin:auto;
    text-align: center;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 4.5vh;
}

.aap {
    font-family: 'Bangers', cursive;
    text-decoration: none;
    color: #ff8400;
    line-height: 6.0vh;
}

img {
    margin:auto;
    display:block;
}



/*



body{

background-color: #ff8400;
    font-family: Arial;
}

nav ul{

    list-style-type: none;
    padding:0px;
}

nav li{
    display:inline-block;
    padding:10px;
    background-color:black;
    color:white;
}

nav li a{
    color:white;
    text-decoration: none;
}

nav li a:hover{

    color:#cccccc;
}
*/
